 /* BEM = Bloque Elemento Mddificador 
 
 Se usa siempre class no ID

 Class = aplicar estilos
 id = aplicar funcionalidad (javascript)

 .bloque
 .bloque_elemento
 .bloque_elemento--modificador

 1. no usar ID
 2. no usar etiquetas
 3. que todo sea un key selector(seleccionar justo el elemento al cual le aplicare estilos)
 */

/* Con BEM */
 .cards{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
 }

 .cards{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
 }

 .cards .card{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: rgb(249, 213, 177);
 }

 /* Selector  clave */
 .cards .card h3{
    font-size: 24px;
    font-weight: bold;
 }

 .cards .card a{
    padding: 10px;
    background: rgb(58, 84, 18);
    color: white;
    text-decoration: none;
 }